body {
    background-color: khaki; /* Background color */
    font-family: 'Roboto', sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #575757;
}

.navbar h1 {
    margin: 0;
    font-size: 1.5em;
    color: white;
}

.container {
    width: 1500px;
    margin: 0 auto; /* Center the container */
    padding: 20px;
}

h1 {
    margin-bottom: 40px;
}

.section {
    display: flex; /* Use flexbox to align items */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px; /* Space between sections */
}

.section img {
    width: 40%; /* Adjust image width */
    height: auto; /* Maintain aspect ratio */
}

.description {
    width: 50%; /* Set width to occupy most space */
    text-align: center; /* Center the text */
}

.description h2 {
    font-size: 2.5em; /* Bigger font size for the heading */
    margin-bottom: 20px;
}

.description p {
    font-size: 1.2em; /* Bigger font size for the description */
    line-height: 1.5; /* Increase line height for readability */
}

